/* Space out content a bit */
body {
  font-family: Montserrat;
  background-color: #020202;
  color: #ffffff;
}

a {
  font-weight: bold;
  color: #00a9ff;
  text-decoration: none;
  background-color; transparent;
}


/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 0.3em;
  border-bottom: .05rem solid #e5e5e5;
  display: block;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.container-fluid {
  max-width: 1400px;
  width: 80%;
}

.container {
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  padding-left: 1em;
  padding-right: 1em; 
  max-width: 50em;
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

ul.nav {
  max-width:47em;
  font-family: 'Montserrat', monospace;
  list-style-type:none;
  margin:0em auto;
  padding:0em;
  float: right;
}

ul.nav li:hover {
  background: rgba(0, 85, 221, 0.25);
}
ul.nav li{
  float:left;
  padding:1em 1em 1em 1em;
}


#logos {
  text-align: center;
}

#h-name {
  color: rgb(198, 16, 45);
  margin-left: 1rem;
  text-shadow: 3px 3px 20px #077afb;
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 0px;
}
#h-subheading {
  color: rgb(198, 16, 45);
  border-bottom: .05rem solid rgb(198, 16, 45);
  margin-top: 0px;
}

.lead {
  font-family: Lato;
}

#p-text {
  color: #ce6565;
}
#poster {
  display: block;
  width: 100%;
  margin-right: auto;
  margin-bottom: 2rem;
}

#avatar {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1em;
  margin-bottom: 1em;
  width: 50%;
  border-radius: 10%;
}

.relative {
  position: relative;
  float: left;
}

#head {
  margin-right: 1rem;
}
.work {
  margin: 1rem;
}

#cell {
  display: block;
  margin-bottom: 4rem;
  margin-top 2rem;
  margin-left: auto;
  margin-right: auto;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

@media (max-width: 480px) {
  .container-fluid {
    width: 100%;
  }
  
  .header {
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 1em;
  }
  #h-subheading {
    margin-top: 1em;
  }

  ul.nav{
    padding:0em;
    margin-bottom: 1em;
    float: left;
  }
  ul.nav li {
    box-sizing:border-box;
    width:100%;
    margin:0em 0em;
    padding: 1em 1em;
    font-size:1em;
    border-bottom: 1px #00a9ff solid;
  }
  #avatar {
    width: 80%;
    height 90%;
  }
  #poster {
    width: 100%;
  }  
  .col-12 {
    padding-right: 0px;
    padding-left: 0px;
  }
}
