/* Space out content a bit */
body {
  font-family: Montserrat;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
  background-color: #020202;
  color: #ffffff;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 1rem;
  padding-left: 1rem;
}

/* Custom page header */
.header {
  padding-bottom: 1rem;
  border-bottom: .05rem solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 3rem;
}

.container {
  width: 50em;
  padding: 0;
  margin: auto;
  padding-left: 1em;
  padding-right: 1em; 
}
/* Custom page footer */
.footer {
  padding-top: 1.5rem;
  color: #777;
  border-top: .05rem solid #e5e5e5;
}

/* Customize container */
@media (min-width: 48em) {
  .container {
  }
}
.container-narrow > hr {
  margin: 2rem 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: .05rem solid #e5e5e5;
  background-color: #0d1013;
}
.jumbotron .btn {
  padding: .75rem 1.5rem;
  font-size: 1.5rem;
}

#h-name {
  color: rgb(198, 16, 45);
  margin-left: 1rem;
  text-shadow: 3px 3px 20px #077afb;
  font-weight: bold;
}
#h-subheading {
  color: rgb(198, 16, 45);
  border-bottom: .05rem solid rgb(198, 16, 45);
}

.lead {
  font-family: Lato;
}

#p-text {
  color: #ce6565;
}
#poster {
  width: 30vw;
  margin-right: 20%;
  margin-left: 20%;
  margin-bottom: 2rem;
}

#avatar {
  margin-top: 0em;
  margin-right: 15em;
  margin-bottom: 2em;
  margin-left: 15em;
  border-radius: 50%;
  border: solid 2px #ffffff;
}

#head {
  margin-right: 1rem;
}
.work {
  margin: 1rem;
}

#cell {
  margin-bottom: 4rem;
  margin-top 2rem;
  margin-left: 3rem;
  margin-right: 3rem;
}

/* Supporting marketing content */
.marketing {
  margin: 3rem 0;
}
.marketing p + h4 {
  margin-top: 1.5rem;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 48em) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 2rem;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
